body,
html {
    width: 100%;
    height: 100%;
    background-color: #222;
}

.content {
    width: 100%;
    height: 100%;
}

/* stage -- start */
.stage {
    position: relative;
    width: 100%;
    height: 680px;
}

/* stage -- end */
/* image -- start */
.img-sec {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ddd;
    /* 为了层级关系将 .img-figure 放入 .img-sec，
      为了性能使用 @at-root 将 .img-figure 到与 .img-sec 同级  */
    @at-root {
        .img-figure {
            position: absolute;
            width: 280px;
            height: 320px;
            margin: 0;
            padding: 20px;
            background-color: #fff;
            /* border-box width 将包含 padding */
            box-sizing: border-box;

            cursor: pointer;
            transform-style: preserve-3d;

            &.is-inverse{
                transform: translate(0) rotateY(180deg);
            }
        }

        figcaption {
            text-align: center;

            .img-title {
                margin: 20px 0 0;
                color: #a7a0a2;
                font-size: 16px;
            }

            .img-back {
                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;
                padding: 50px 40px;
                overflow: auto;

                color: #a7a0a2;
                font-size: 22px;
                line-height: 1.25;
                text-align: left;

                background-color: #fff;

                box-sizing: border-box;
                transform: rotateY(180deg) translateZ(1px);
                backface-visibility: hidden;

                p {
                    margin: 0;
                }
            }
        }
    }
}

/* image -- end */
/* controller -- start */
.controller-nav {
    position: absolute;
    left: 0;
    bottom: 30px;
    z-index: 101;
    width: 100%;
    text-align: center;
}

/* controller -- end */
